<div class="container">
    <img [src]="hero?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{hero?.name}} </h2>
      </div>
    </div>
  
    <div class="row">
        <div class="col-md-6">
          <h2>Friends</h2>
          <md-list>
              <md-list-item> Pepper </md-list-item>
              <md-list-item> Salt </md-list-item>
              <md-list-item> Paprika </md-list-item>
          </md-list>
        </div>
        <div class="col-md-6">
            <h2>Enemy</h2>
            <md-list>
                <md-list-item> Pepper </md-list-item>
                <md-list-item> Salt </md-list-item>
                <md-list-item> Paprika </md-list-item>
            </md-list>
          </div>
    </div>
  </div> 