<div class="container">
    <img [src]="hero?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{hero?.name}} </h2>
      </div>
    </div>
  
    <div class="row">
        <div class="col-md-6">
          <h2>Enemy</h2>
          <md-list>
            <enemy-list [enemy]="hero?.enemy"></enemy-list>
          </md-list>
        </div>
        <div class="col-md-6">
            <h2>Friends</h2>
            <md-list>
              <friends-list [friends]="hero?.friends"></friends-list>
            </md-list>
          </div>
    </div>
  </div> 