<div class="container">
    <img [src]="hero?.imageUrl" [alt]="event?.name" class="event-image">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{hero?.name}} </h2>
      </div>
    </div>
  
    <div class="row">
        <div class="col-md-6">
          <h2>Enemy</h2>
          <md-list>
              <md-list-item *ngFor="let kurwa of hero?.enemy"><a [routerLink]="['/bohater', heroes[kurwa]?.id]"  (click)="onSelect(kurwa.id)" routerLinkActive="active"> <h3>{{heroes[kurwa].name}}</h3></a></md-list-item>
          </md-list>          
        </div>

        <div class="col-md-6">
            <h2>Friends</h2>
              <md-list-item *ngFor="let kurwa of hero?.friends"><a [routerLink]="['/bohater', heroes[kurwa]?.id]" (click)="onSelect(kurwa.id)"> <h3>{{heroes[kurwa].name}}</h3></a></md-list-item>
        </div>
      </div>

 
<!-- na jakiej zasadzie działa moja lista
  <div *ngFor="let c of cos">
    <p *ngFor="let k of c.ktos">{{cos[k].name}}</p>
  </div> -->
