<form [formGroup]="form" (ngSubmit)="dodaj(form.value)">
  <div class="form-group">
    <label for="username">Username</label>
    <input 
          formControlName="username"
          id="username"
          type="text"
          class="form-control">
          <!--  && form.get('username').touched -->
          <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            <div *ngIf="username.errors.required">KURWA DANE</div>
            <div *ngIf="username.errors.minlength">minimum trzy znaki {{ username.errors.minlength.requiredLength }}</div>
          </div>
  </div>

  <div class="form-group"> 
    <label for="password">Password</label>
    <input 
          formControlName="password"
          id="password"
          type="text"
          class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>